html, body{
    height: 100%;
}
html{
    display: table;
    margin: auto;
}
body{
    display: table-cell;
    vertical-align: middle;
}

.bdr{
    border-style: solid;
    border-width: 3px;
    padding-right: 10%;
    border-color: green;
    display: inline-block;
}